#room-list {
  float: right;
  width: 100px;
  height: 300px;
  overflow: auto;

  div {
    border-bottom: 1px solid #eee;
  }

  div:hover {
    background-color: #ddd;
  }
}

#send-message {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#help {
  font: 10px;
}